/* 
 * networkcurator.css
 *
 * CSS for NetworkCurator (extends bootstrap.css)
 *
*/


/* ------------------------------------------------------------------------------------
 * Main page elements
 * ------------------------------------------------------------------------------------ */


html {
    position: relative;
    min-height: 100%;
}


body {           
    padding-top: 32px;
    margin-bottom: 80px;
}


/* ------------------------------------------------------------------------------------
 * Generic helper classes
 * ------------------------------------------------------------------------------------ */

/**
 * some classes that add some margin at the top of an element
*/
.nc-mt-5 { margin-top: 0.5em; }
.nc-mt-10 { margin-top: 1.0em; }
.nc-mt-15 { margin-top: 1.5em; }
.nc-mt-20 { margin-top: 2.0em; }
.nc-mb-5 { margin-bottom: 0.5em; }
.nc-mb-10 { margin-bottom: 1.0em; }
.nc-mb-15 { margin-bottom: 1.5em; }
.nc-mb-20 { margin-bottom: 2.0em; }

/**
 * classes that set minimum width on objects
*/
.nc-mw-sm { min-width: 66px !important; }
.nc-mw-md { min-width: 88px !important; }

/**
 * class set margins
 */
.nc-hm-3 {
    margin-left: 3px;
    margin-right: 3px;
}



/* ------------------------------------------------------------------------------------
 * Generic helper classes
 * ------------------------------------------------------------------------------------ */

/*
 * The curator style hides objects until they are turned visible via js
*/
.nc-curator {
    display: none;
}

/**
 * editifiers for features accessible only to curators
*/
.nc-curator > a {
    color: #d43f3a !important;
}


/* ------------------------------------------------------------------------------------
 * Tuning on particular ui elements
 * ------------------------------------------------------------------------------------ */

/** The caret is used in dropdown lists and should be vertically centered */
.nc-dropdown-caret {
    margin-top: 8px;    
}

/** The footer at the bottom of each page */
.nc-footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    height: 50px;    
}
.nc-footer .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/*
 * definitions defining editable elements
*/
.nc-editable-text-visible {
    background-color: #f2f2f2;
    border: 1px dashed #bbbbbb;
    margin: -7px -7px; 
    padding: 6px 6px;
}

.nc-curation-toolbox {    
    margin-bottom: 0.5em;
}
textarea.nc-curation-content {
    width: 100%;
    height: 100%;
}



/* ------------------------------------------------------------------------------------
 * Navbars
 * ------------------------------------------------------------------------------------ */

.nc-navbar { 
    min-height:32px; 
}
.nc-navbar .navbar-brand { 
    padding: 0px 15px; 
    font-size: inherit;
    height: 32px;
    line-height: 32px; }
.nc-navbar .navbar-nav > li > a {  
    padding: 0px 15px;
    line-height: 32px; 
}
.nc-navbar .navbar-text { 
    padding: 0px 15px 0px 0px;
    margin: 0px 15px;
    line-height: 32px; 
}
.nc-navbar2 .container {
    padding-left: 0px !important;
}
.nc-navbar2 .active {
    background-color: #c0c0c0;
}
.nc-navbar2 {
    position: absolute;    
    top: 32px;
    left: 0;
    right: 0;
}
.nc-body2 {
    padding-top: 80px;
}



/* ------------------------------------------------------------------------------------
 * Ontology
 * ------------------------------------------------------------------------------------ */


span.nc-comment {
    position: relative;
    vertical-align: middle;
    padding-top: 8px;
    padding-left: 0px;
}



/* ------------------------------------------------------------------------------------
 * Comments
 * ------------------------------------------------------------------------------------ */

.nc-comment-head {
    font-size: 90%;
}

.nc-comment-date {
    padding-right: 6px;
    color: #777777;
}
.nc-comment-user {
    font-weight: 600;
    color: #333333;
}


/* ------------------------------------------------------------------------------------
 * Activity log
 * ------------------------------------------------------------------------------------ */

#nc-log-contents {
    margin-top: 1em;
}
.media.nc-log-entry {
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 6px;    
}
.nc-log-entry-date {
    padding-right: 6px;
    color: #777777;
}

.nc-log-entry-user, .nc-log-entry-target {
    font-weight: 600;
    color: #333333;
}
.nc-log-toolbox {
    padding-left: 14px;
    position: static;
    top: 0px;
    right: 0px;
}

/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */

svg {
    height: 100%;
    width: 100%;
}
#nc-graph-svg-container {
    border: #ddd solid 1px;    
    padding: 0 0 0 0;
    resize: vertical;
    overflow: hidden;
    height: 480px;
}
textarea {
    resize: vertical;
    overflow: auto;
}

/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */

.nc-nav-img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

/* ------------------------------------------------------------------------------------
 * Deprecated/Active status
 * ------------------------------------------------------------------------------------ */

.nc-deprecated {
    opacity: 0.5;
}


/* ------------------------------------------------------------------------------------
 * Permissions
 * ------------------------------------------------------------------------------------ */

.nc-fg-name {
    min-width: 310px !important;    
    width: 310px !important;    
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: inherit;
    margin-bottom: 0px;
}

.nc-form-permissions {
    margin-top: 6px;
    margin-bottom: 6px;
}


form {
    margin-top: 14px;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 1em;
}


.form-inline button {
    margin-left: 12px;
}


/* ------------------------------------------------------------------------------------
 * New nodes 
 * ------------------------------------------------------------------------------------ */

.nc-default-node {
    fill: #449944;    
}
.nc-default-link {
    stroke: #999999;
    stroke-width: 5;
}

.nc-newnode {
    stroke: #000000;
    stroke-width: 2;    
    stroke-dasharray: 3 3;
    fill: #dddddd;
}
.nc-newlink, .nc-draggedlink {
    stroke: #aaaaaa;
    stroke-width: 6;    
    stroke-dasharray: 7 5;
}

.nc-node-highlight {
    stroke: #000000;
    stroke-width: 4;    
}
.nc-link-highlight {
    stroke: #000000;
}

.nc-newlink-source {
    stroke-width: 3;
    stroke: #000000;    
    stroke-dasharray: 3 2;
}
.nc-newlink-target {
    stroke-width: 3;
    stroke: #000000;    
    stroke-dasharray: 3 2;
}


/* ------------------------------------------------------------------------------------
 * Ontology tree structures
 * ------------------------------------------------------------------------------------ */

body.dragging, body.dragging * {
    cursor: move !important;
}
.dragged {
    position: absolute;
    opacity: 0.4;
    z-index: 1000;
}
ol.droptarget {
    background-color: #dddddd;
}
li span {
    padding: 2px 8px;
}
span.nc-directional {
    padding-left: 0px;
}
li.aftermove > div:first-child span {
    background-color: #dddddd;
    color: #000;
    font-weight: 600;
}

.nc-ontology-tree {
    margin-bottom: 4em;
}
.nc-classtree-children {
    list-style: none;
    min-height: 5px; 
    padding: 5px 0px 0px 25px;    
}
ol {
    list-style: none;
}
.nc-classdisplay {    
    padding: 3px 0px;
}
.nc-btn-edit {
    margin-left: 6px;
    margin-right: 6px;
}
.nc-class-form {
    margin-bottom: 2px;
}
.nc-class-form .form-check-inline {    
    font-weight: 300;    
}
.nc-class-form .form-check-input {
    margin-left: 8px; 
    margin-right: 4px;     
}


/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */


#nc-graph-toolbar {
    margin-bottom: 8px;
}
.nc-toolbar-group {
    margin-right: 8px;
}
.nc-toolbar-group-new button {
    width: 94px;
}
.nc-toolbar-group-new button.dropdown-toggle {
    width: 200px;
}
.nc-toolbar-group span.caret {
    margin-left: 6px;
}

.nc-graph-details {
    display: none;
    border: solid #ddd 1px;
    padding: 0px 22px;
    width: 100%;
    border-radius: 4px !important;
    margin-top: 0px;
}
.nc-graph-detail .caret {
    margin-top: 6px;
}

.nc-graph-details .btn-group {
    width: 100%;
}

