/* 
 * networkcurator.css
 *
 * CSS for NetworkCurator (extends bootstrap.css)
 *
*/


/*
 * some classes that add some margin at the top of an element
*/
.nc-mt-5 { margin-top: 0.5em; }
.nc-mt-10 { margin-top: 1.0em; }
.nc-mt-15 { margin-top: 1.5em; }
.nc-mt-20 { margin-top: 2.0em; }
.nc-mb-5 { margin-bottom: 0.5em; }
.nc-mb-10 { margin-bottom: 1.0em; }
.nc-mb-15 { margin-bottom: 1.5em; }
.nc-mb-20 { margin-bottom: 2.0em; }


/**
 * editifiers for features accessible only to curators
 */
.nc-curator > a {
    color: #d43f3a !important;
}

/*
 * definitions defining editable elements
 */
.nc-editable-text {
     
}
.nc-editable-text-visible {
    background-color: #f2f2f2;
    border: 1px dashed #bbbbbb;
    margin: -7px -7px; 
    padding: 6px 6px;
}

.nc-curation-toolbox {    
    margin-bottom: 0.5em;
}
textarea.nc-curation-content {
    width: 100%;
    height: 100%;
}


/**
 * Definitions for graph editor
 */
svg {
    height: 100%;
    width: 100%;
}

#nc-graph-svg-container {
    border: #ddd solid 1px;    
    padding: 0 0 0 0;
    resize: vertical;
    overflow: hidden;
    height: 480px;
}


textarea {
    resize: vertical;
    overflow: auto;
}