/* 
 * networkcurator.css
 *
 * CSS for NetworkCurator (extends bootstrap.css)
 *
*/

.nc-btn-permissions {
    min-width: 94px !important;
}

.nc-fg-name {
    min-width: 260px !important;
    max-width: 260px !important;
    width: 260px !important;    
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: inherit;
    margin-bottom: 0px;
}

.nc-form-permissions {
    margin-top: 6px;
    margin-bottom: 6px;
}

/*
 * some classes that add some margin at the top of an element
*/
.nc-mt-5 { margin-top: 0.5em; }
.nc-mt-10 { margin-top: 1.0em; }
.nc-mt-15 { margin-top: 1.5em; }
.nc-mt-20 { margin-top: 2.0em; }
