/* 
 * networkcurator.css
 *
 * CSS for NetworkCurator (extends bootstrap.css)
 *
*/


/*
 * some classes that add some margin at the top of an element
*/
.nc-mt-5 { margin-top: 0.5em; }
.nc-mt-10 { margin-top: 1.0em; }
.nc-mt-15 { margin-top: 1.5em; }
.nc-mt-20 { margin-top: 2.0em; }

