## ignoring temporary files and local netbeans project files

*/*.*~
*/*/*.*~
nbproject
nc-core/build-nc
*png


## ignoring local installation details

nc-admin/config/nc-config.php
nc-admin/install/*local*

## ignoring build files

nc-core/js/*
nc-core/css/*

