## ignoring temporary files and local netbeans project files

*/*.*~
*/*/*.*~
nbproject
nc-ui
nc-core/build-nc
nc-core/build-makealive
*png


## ignoring local installation details
nc-admin/*/*local*


## ignoring build files
nc-core/js/*
nc-core/css/*

