/* 
 * networkcurator.css
 *
 * CSS for NetworkCurator (extends bootstrap.css)
 *
*/


/* ------------------------------------------------------------------------------------
 * Main page elements
 * ------------------------------------------------------------------------------------ */


html {
    position: relative;
    min-height: 100%;
}


body {           
    padding-top: 32px;
    margin-bottom: 80px;
}


h1 {
    margin-top: 1em;
}
h2 {
    margin-top: 1em;
    font-size: 28px;
}
h5 {
    font-weight: 700;
}

@media (min-width: 1100px) {  
    body {
        line-height: 1.6;
    }
}
@media not all and (min-width: 640px) {
    body {
        font-size: 10px;
    }
}


/* for desktop computers, make container wider (more of the graph will show) */
@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
    body {
        line-height: 1.8;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1220px;
    }
    body {
        line-height: 1.8;
    }
}


/* ------------------------------------------------------------------------------------
 * Generic helper classes
 * ------------------------------------------------------------------------------------ */

/**
 * some classes that add some margin at the top of an element
*/
.nc-mt-5 { margin-top: 0.5em; }
.nc-mt-10 { margin-top: 1.0em; }
.nc-mt-15 { margin-top: 1.5em; }
.nc-mt-20 { margin-top: 2.0em; }
.nc-mb-5 { margin-bottom: 0.5em; }
.nc-mb-10 { margin-bottom: 1.0em; }
.nc-mb-15 { margin-bottom: 1.5em; }
.nc-mb-20 { margin-bottom: 2.0em; }

/**
 * classes that set minimum width on objects
*/
.nc-mw-sm { min-width: 66px !important; }
.nc-mw-md { min-width: 88px !important; }

/**
 * class set margins
*/
.nc-hm-3 {
    margin-left: 3px;
    margin-right: 3px;
}


.nc-aside {
    opacity: 0.6;
}

/* ------------------------------------------------------------------------------------
 * Generic helper classes
 * ------------------------------------------------------------------------------------ */

/*
 * The curator style hides objects until they are turned visible via js
*/
.nc-curator {
    display: none;
}

/**
 * editifiers for features accessible only to curators
*/
.nc-curator > a {
    color: #d43f3a !important;
}


/* ------------------------------------------------------------------------------------
 * Tuning on particular ui elements
 * ------------------------------------------------------------------------------------ */

/** The caret is used in dropdown lists and should be vertically centered */
.nc-dropdown-caret {
    margin-top: 8px;    
}

/** The footer at the bottom of each page */
.nc-footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    height: 50px;    
}
.nc-footer .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/*
 * definitions defining editable elements
*/
.nc-editable-text-visible {
    background-color: #f2f2f2;
    border: 1px dashed #bbbbbb;
    margin: -7px -7px; 
    padding: 6px 6px;
}

.nc-curation-toolbox {    
    margin-bottom: 0.5em;
}
textarea.nc-curation-content {
    width: 100%;
    height: 100%;
}



/* ------------------------------------------------------------------------------------
 * Navbars
 * ------------------------------------------------------------------------------------ */

.nc-navbar { 
    min-height:32px; 
}
.nc-navbar .navbar-brand { 
    padding: 0px 15px; 
    font-size: inherit;
    height: 32px;
    line-height: 32px; }
.nc-navbar .navbar-nav > li > a {  
    padding: 0px 15px;
    line-height: 32px; 
}
.nc-navbar .navbar-text { 
    padding: 0px 15px 0px 0px;
    margin: 0px 15px;
    line-height: 32px; 
}
.nc-navbar2 .container {
    padding-left: 0px !important;
}
.nc-navbar2 .active {
    background-color: #c0c0c0;
}
.nc-navbar2 {
    position: absolute;    
    top: 32px;
    left: 0;
    right: 0;
}
.nc-body2 {
    padding-top: 80px;
}



/* ------------------------------------------------------------------------------------
 * Comments
 * ------------------------------------------------------------------------------------ */

.nc-comment-head {
    font-size: 90%;
}

.nc-comment-date {
    padding-right: 6px;
    color: #777777;
}
.nc-comment-user {
    font-weight: 600;
    color: #333333;
}


/* ------------------------------------------------------------------------------------
 * Activity log
 * ------------------------------------------------------------------------------------ */

#nc-log-contents {
    margin-top: 1em;
}
.media.nc-log-entry {
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 6px;    
}
.nc-log-entry-date {
    padding-right: 6px;
    color: #777777;
}

.nc-log-entry-user, .nc-log-entry-target {
    font-weight: 600;
    color: #333333;
}
.nc-log-toolbox {
    padding-left: 14px;
    position: static;
    top: 0px;
    right: 0px;
}

/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */

svg {
    height: 100%;
    width: 100%;
}
#nc-graph-svg-container {
    border-right: #ddd solid 1px;
    padding: 0 0 0 0;  
    /** margin: 0px -30px 15px 15px; */
    resize: vertical;    
    overflow: hidden;
    height: 480px;
}
#nc-graph-svg {
    margin-left: 15px;
    border: #ddd solid 1px;    
}
#nc-graph-side {
    /** margin-left: 30px; **/
}
textarea {
    resize: vertical;
    overflow: auto;
}

.tooltip {
    opacity: 0.9;
    background-color: #333333; 
    border-radius: 4px;    
    color: #fff4f4;
    padding: 4px 8px;
    font-size: 100%;
    font-weight: 600;
    display: none;    
}


/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */

.nc-nav-img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

/* ------------------------------------------------------------------------------------
 * Deprecated/Active status
 * ------------------------------------------------------------------------------------ */

.nc-deprecated {
    opacity: 0.6;    
}
svg.nc-deprecated {
    opacity: 0 !important;
}


/* ------------------------------------------------------------------------------------
 * Permissions
 * ------------------------------------------------------------------------------------ */

.nc-fg-name {
    min-width: 310px !important;    
    width: 310px !important;    
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: inherit;
    margin-bottom: 0px;
}

.nc-form-permissions {
    margin-top: 6px;
    margin-bottom: 6px;
}


form {
    margin-top: 14px;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 1em;
}


.form-inline button {
    margin-left: 12px;
}


/* ------------------------------------------------------------------------------------
 * New nodes 
 * ------------------------------------------------------------------------------------ */

svg#nc-graph-svg rect, svg#nc-graph-svg circle, svg#nc-graph-svg line {
    /** all: inherit;    **/
}

.nc-default-node {
    fill: #449944;    
}
.nc-default-link {
    stroke: #999999;
    stroke-width: 5;
}

.nc-newnode {
    stroke: #000000;
    stroke-width: 2;    
    stroke-dasharray: 3 3;
    fill: #dddddd;
}
.nc-newlink, .nc-draggedlink {
    stroke: #aaaaaa;
    stroke-width: 6;    
    stroke-dasharray: 7 5;
}

.nc-newlink-source {
    stroke-width: 3;
    stroke: #000000;    
    stroke-dasharray: 3 2;
}
.nc-newlink-target {
    stroke-width: 3;
    stroke: #000000;    
    stroke-dasharray: 3 2;
}


/* ------------------------------------------------------------------------------------
 * Ontology tree structures
 * ------------------------------------------------------------------------------------ */

body.dragging, body.dragging * {
    cursor: move !important;
}
.dragged {
    position: absolute;
    opacity: 0.4;
    z-index: 1000;
}
ol.droptarget {
    background-color: #dddddd;
}
li span {
    padding: 2px 8px;
}
span.nc-directional {
    padding-left: 0px;
}
li.aftermove > div:first-child span {
    background-color: #dddddd;
    color: #000;
    font-weight: 600;
}

.nc-ontology-tree {
    margin-bottom: 4em;
}
.nc-classtree-children {
    list-style: none;
    min-height: 4px; 
    padding: 4px 0px 0px 25px;    
}
.nc-classtree-children {
    margin-top: -4px;
}
.nc-classtree-root {
    padding: 4px 0px 0px 0px;
}
ol {
    list-style: none;
}
.nc-classdisplay, .nc-class-form {
    display: inline-block;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);        
}
.nc-classdisplay {   
    padding: 0px 0px;    
    margin-bottom: 0px;
}
.nc-class-form {
    margin-top: 8px;
}
.nc-btn-edit {
    margin-left: 6px;
    margin-right: 6px;
}
.nc-btn-mh {
    margin-left: 6px;
    margin-right: 6px;
}
.nc-class-form {
    margin-bottom: 2px;
}
.nc-class-form .form-check-inline {    
    font-weight: 300;        
}
.nc-class-form .form-check-input {
    margin-left: 8px; 
    margin-right: 4px;     
}

.nc-style {
    width: 100%;   
}
.nc-style textarea {
    resize: both;    
    margin-top: 8px;      
    margin-bottom: 12px;
}

span.nc-comment {
    position: relative;
    vertical-align: middle;
    /** display: inline-block;**/
    padding-top: 0px; 
    margin-top: 0px;
    padding-left: 0px;
}

span[val=nc-classname] {
    cursor: pointer;
}

svg.nc-symbol {
    display: inline-block;
    position: relative;
    vertical-align: middle;    
    margin-right: 2px;
    width: 36px;
    height: 36px; 
    cursor: pointer;
}

/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */


#nc-graph-toolbar {
    margin-bottom: 8px;
}
.nc-toolbar-group {
    margin-right: 8px;
}
.nc-toolbar-group-new button {
    min-width: 94px;
}
.nc-toolbar-group-new button.dropdown-toggle {
   /**  width: 200px; **/
}
.nc-toolbar-group span.caret {
    margin-left: 6px;
}

.nc-graph-details {
    display: none;
    /** border: solid #ddd 1px; **/
    padding: 0px 22px;
    padding-bottom: 1em;
    width: 100%;
    border-radius: 4px !important;
    margin-top: 0px;
}
.nc-graph-detail .caret {
    margin-top: 6px;
}

.nc-graph-details .btn-group {
    width: 100%;
}

.nc-dropdown-form {
    padding: 10px;        
}
.nc-dropdown-form td, th {
    padding-left: 10px;
    padding-right: 10px;
}
.nc-dropdown-form th {
    padding-top: 1.5em;
    border-bottom: 1px solid #ddd;
}    
.nc-dropdown-form span {
     white-space: nowrap;
}
.nc-dropdown-form input {
    width: 60px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.nc-center {
    text-align: center;
}

/* --------------------------------------------------------------------------
 * Boxes with tips/help messages
 * -------------------------------------------------------------------------- */

.nc-tips {
    margin: 0em; 
    padding: 1.5em;
    color: #222;
    background-color: #f5f5f5;
    line-height: 1.5;
}

.nc-tips b {
    color: #000;
}


/* ------------------------------------------------------------------------------------
 * Content pages (nodes, links)
 * ------------------------------------------------------------------------------------ */


.nc-object-type {
    font-size: 110%;
    color: #ffffff;
    background-color: #555555;
    padding: 4px 10px;   
    border-radius: 2px;
    display: inline-block;
}

