/* 
 * networkcurator.css
 *
 * CSS for NetworkCurator (extends bootstrap.css)
 *
*/


/* ------------------------------------------------------------------------------------
 * Main page elements
 * ------------------------------------------------------------------------------------ */

html {
    position: relative;
    min-height: 100%;
}
body {           
    padding-top: 32px;
    margin-bottom: 80px;
}
h1, h2 {
    margin-top: 1em;
}
h2 {    
    font-size: 28px;
}
h5 {
    font-weight: 700;
}
a {
    cursor: pointer;
}


@media (min-width: 1100px) {  
    body {
        line-height: 1.6;
    }
}
@media not all and (min-width: 640px) {
    body {
        font-size: 10px;
    }
}


/* for desktop computers, make container wider (more of the graph will show) */
@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
    body {
        line-height: 1.8;
    }
}
@media (min-width: 1300px) {
    .container {
        width: 1220px;
    }
    body {
        line-height: 1.8;
    }
}


/* ------------------------------------------------------------------------------------
 * Generic helper classes
 * ------------------------------------------------------------------------------------ */

/**
 * some classes that add some margin at the top of an element
*/
.nc-mt-5 { margin-top: 0.5em; }
.nc-mt-10 { margin-top: 1.0em; }
.nc-mt-15 { margin-top: 1.5em; }
.nc-mt-20 { margin-top: 2.0em; }
.nc-mb-5 { margin-bottom: 0.5em; }
.nc-mb-10 { margin-bottom: 1.0em; }
.nc-mb-15 { margin-bottom: 1.5em; }
.nc-mb-20 { margin-bottom: 2.0em; }
.nc-mh-3 { margin-left: 3px; margin-right: 3px; }

/**
 * classes that set minimum width on objects
*/
.nc-mw-sm { min-width: 66px !important; }
.nc-mw-md { min-width: 88px !important; }



/* ------------------------------------------------------------------------------------
 * Tuning on particular ui elements
 * ------------------------------------------------------------------------------------ */

/** The caret is used in dropdown lists and should be vertically centered */
.nc-dropdown-caret {
    margin-top: 8px;    
}

/** The footer at the bottom of each page */
footer {
    background-color: #f8f8f8; 
}
.nc-footer {
    position: absolute;
    bottom: 0;
    width: 100%;    
    min-height: 4em;
    border-top: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}
.nc-footer .container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.nc-footer a {
    color: #555;
}
.nc-footer span {
    padding-right: 12px;
    padding-left: 12px;
    border-left: solid 1px #e7e7e7;
}
.nc-footer span.nc-first {
    border-left: none;
    padding-left: 0px;
}
.nc-footer .nc-quiet {
    color: #777;
}

/*
 * definitions defining editable elements
*/
.nc-editable-text-visible, .nc-editable-text-history {
    background-color: #f5f5f5;
    border: 1px dashed #666;
    margin: -7px -7px; 
    padding: 6px 6px;    
}

.nc-curation-toolbox {    
    margin-bottom: 0.5em;
}
textarea.nc-curation-content {
    width: 100%;
    height: 100%;
}

.input-group-btn button {
    width: 100%;
    border-radius: 4px !important;
} 
.nc-curation-toolbox-history {
    padding-left: 8px;
}


/* ------------------------------------------------------------------------------------
 * Navbars
 * ------------------------------------------------------------------------------------ */

.nc-navbar { 
    min-height:32px; 
}
.nc-navbar .navbar-brand, .nc-navbar .navbar-text {
    line-height: 32px; 
    color: #555;
}
.nc-navbar .navbar-brand { 
    padding: 0px 15px; 
    font-size: inherit;
    height: 32px;        
}
.nc-navbar .navbar-nav > li > a {  
    padding: 0px 15px;
    line-height: 32px;
    color: #555;
}
.nc-navbar .navbar-text { 
    padding: 0px 15px 0px 0px;
    margin: 0px 15px;    
}
.nc-navbar2 .container {
    padding-left: 0px !important;
}
.nc-navbar2 .active {
    background-color: #c0c0c0;
}
.nc-navbar2 {
    position: absolute;    
    top: 32px;
    left: 0;
    right: 0;
}
.nc-body2 {
    padding-top: 80px;
}

.nc-nav-icon {    
    line-height: 24px;
}


#nc-nav-network-title {
    font-weight: 600;
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
    color: inherit;
}
#nc-nav-network-title:hover {
    text-decoration: inherit;
    color: inherit;
}


/* ------------------------------------------------------------------------------------
 * Comments
 * ------------------------------------------------------------------------------------ */

.nc-comment-head {
    font-size: 90%;
}

.nc-comment-date {
    padding-right: 6px;
    color: #777777;
}
.nc-comment-user {
    font-weight: 600;
    color: #333333;
}


/* ------------------------------------------------------------------------------------
 * Activity log
 * ------------------------------------------------------------------------------------ */

#nc-log-contents {
    margin-top: 1em;
}
.media.nc-log-entry {
    margin-top: 0;
    padding-top: 4px;
    padding-bottom: 6px;    
}
.nc-log-entry-date {
    padding-right: 6px;
    color: #777777;
}

.nc-log-entry-user, .nc-log-entry-target {
    font-weight: 600;
    color: #333333;
}
.nc-log-toolbox {
    padding-left: 14px;
    position: static;
    top: 0px;
    right: 0px;
}

/* ------------------------------------------------------------------------------------
 * Browser compatibility
 * ------------------------------------------------------------------------------------ */

.nc-browser-warning {
    display: none;    
}


/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */

svg {
    height: 100%;
    width: 100%;
}
#nc-graph-svg-container {
    border-right: #ddd solid 1px;
    padding: 0 0 0 0;      
    resize: vertical;    
    overflow: hidden;
    height: 480px;
    margin-bottom: 1em;
}
#nc-graph-svg-container span {
    margin-left: 15px;
}
.nc-svgtools { 
    float: left;
    height: 0px;
    padding-left: 15px;    
}
.nc-svgtools div {
    padding-left: 0.4em;
    padding-top: 0.3em;        
}
.nc-svgtools span {
    float: left;
    cursor: pointer;
    clear: left;
    font-size: 180%;
    line-height: 1.2em;
    color: #888;    
}
.nc-svgtools span:hover {
    color: #333;
}
#nc-graph-svg {
    margin-left: 15px;
    border: #ddd solid 1px;  
    margin-bottom: 1em;
}
textarea {
    resize: vertical;
    overflow: auto;
}

.tooltip {
    opacity: 0.9;
    background-color: #333333; 
    border-radius: 4px;    
    color: #fff4f4;
    padding: 4px 8px;
    font-size: 100%;
    font-weight: 600;
    display: none;    
}

/* ------------------------------------------------------------------------------------
 * Graph search
 * ------------------------------------------------------------------------------------ */

#nc-graph-search {
    margin-left: 15px;
    margin-bottom: 0.5em;
    padding: 0px;
    border: none; 
}
#nc-graph-search input {
    margin-left: 6px;
    border: none !important;
    outline: none !important;
    padding: 4px;
}
#nc-graph-search li {
    font-size: 80%;
    color: #444;   
}
#nc-graph-search #nc-input {
    display: inline;
    padding-top: 2px;
}
#nc-input .dropdown {
    position: relative;
}
span.nc-search-item {
    border: #777 solid 1px;
    margin: 4px;
    padding: 2px 6px;
    border-radius: 4px;
}
span.nc-search-unknown {
    border: #777 dashed 1px;
    color: #999;
}
span.nc-search-item .glyphicon {
    font-size: 70%;
    cursor: pointer;
    color: #777;
    padding-left: 4px;
}

/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */

.nc-nav-img {
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

/* ------------------------------------------------------------------------------------
 * Deprecated/Active status
 * ------------------------------------------------------------------------------------ */

.nc-deprecated {
    opacity: 0.6;    
}
svg.nc-deprecated {
    opacity: 0 !important;
}


/* ------------------------------------------------------------------------------------
 * Permissions
 * ------------------------------------------------------------------------------------ */

.nc-fg-name {
    min-width: 310px !important;    
    width: 310px !important;    
    white-space: nowrap;   
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: inherit;
    margin-bottom: 0px;
}

.nc-form-permissions {
    margin-top: 6px;
    margin-bottom: 6px;
}


form {
    margin-top: 14px;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 1em;
}


.form-inline button {
    margin-left: 12px;
}


/* ------------------------------------------------------------------------------------
 * New nodes 
 * ------------------------------------------------------------------------------------ */

.nc-node {
    fill: #449944;    
}
.nc-link {
    stroke: #999999;
    stroke-width: 5;
}

.nc-newnode {
    stroke: #000000;
    stroke-width: 2;    
    stroke-dasharray: 3 3;
    fill: #dddddd;
}
.nc-newlink, .nc-draggedlink {
    stroke: #aaaaaa;
    stroke-width: 6;    
    stroke-dasharray: 7 5;
}

.nc-newlink-source {
    stroke-width: 3;
    stroke: #000000;    
    stroke-dasharray: 3 2;
}
.nc-newlink-target {
    stroke-width: 3;
    stroke: #000000;    
    stroke-dasharray: 3 2;
}


/* ------------------------------------------------------------------------------------
 * Ontology tree structures
 * ------------------------------------------------------------------------------------ */

body.dragging, body.dragging * {
    cursor: move !important;
}
.dragged {
    position: absolute;
    opacity: 0.4;
    z-index: 1000;
}
ol.droptarget {
    background-color: #dddddd;
}
li span {
    padding: 2px 8px;
}
span.nc-directional {
    padding-left: 0px;
}
li.aftermove > div:first-child span {
    background-color: #dddddd;
    color: #000;
    font-weight: 600;
}

.nc-ontology-tree {
    margin-bottom: 4em;
}
.nc-classtree-children {
    list-style: none;
    min-height: 4px; 
    padding: 4px 0px 0px 25px;    
}
.nc-classtree-children {
    margin-top: -4px;
}
.nc-classtree-root {
    padding: 4px 0px 0px 0px;
}
ol {
    list-style: none;
}
.nc-classdisplay, .nc-class-form {
    display: inline-block;
    width: -moz-calc(100% - 40px);
    width: -webkit-calc(100% - 40px);
    width: -o-calc(100% - 40px);
    width: calc(100% - 40px);        
}
.nc-classdisplay {   
    padding: 0px 0px;    
    margin-bottom: 0px;
}
.nc-class-form {
    margin-top: 8px;
}
.nc-btn-edit {
    margin-left: 6px;
    margin-right: 6px;
}
.nc-btn-mh {
    margin-left: 6px;
    margin-right: 6px;
}
.nc-class-form {
    margin-bottom: 2px;
}
.nc-class-form .form-check-inline {    
    font-weight: 300;        
}
.nc-class-form .form-check-input {
    margin-left: 8px; 
    margin-right: 4px;     
}

.nc-style {
    width: 100%;   
}
.nc-style textarea {
    resize: both;    
    margin-top: 8px;      
    margin-bottom: 12px;
}

span.nc-comment {
    position: relative;
    vertical-align: middle;    
    padding-top: 0px; 
    margin-top: 0px;
    padding-left: 0px;
}

span[val=nc-classname] {
    cursor: pointer;
}

svg.nc-symbol {
    display: inline-block;
    position: relative;
    vertical-align: middle;    
    margin-right: 2px;
    width: 36px;
    height: 36px; 
    cursor: pointer;
}


/* ------------------------------------------------------------------------------------
 * Front page
 * ------------------------------------------------------------------------------------ */

.nc-front-abstract {
    font-size: 120%;
}


/* ------------------------------------------------------------------------------------
 * Graph editor
 * ------------------------------------------------------------------------------------ */

#nc-graph-toolbar {
    margin-bottom: 8px;
}
.nc-toolbar-group {
    margin-right: 8px;
}
.nc-toolbar-group-new button {
    min-width: 94px;
}
.nc-toolbar-group-new button.dropdown-toggle {

}
.nc-toolbar-group span.caret {
    margin-left: 6px;
}

.nc-graph-details {
    display: none;    
    padding: 0px 22px;
    padding-bottom: 1em;
    width: 100%;
    border-radius: 4px !important;
    margin-top: 0px;
}
.nc-graph-detail .caret {
    margin-top: 6px;
}

.nc-graph-details .btn-group {
    width: 100%;
}
#nc-graph-details-class {    
    color: #ffffff;
    background-color: #777777;
    padding: 4px 10px;   
    border-radius: 2px;
    display: inline-block;
    margin-bottom: -2em;
    margin-top: 0px;
}
#nc-graph-details-abstract {
    margin-bottom: 1em;
}

.nc-dropdown-form {
    padding: 10px;        
}
.nc-dropdown-form td, .nc-dropdown-form th {
    padding-left: 10px;
    padding-right: 10px;
}
.nc-dropdown-form th {
    padding-top: 1.5em;
    border-bottom: 1px solid #ddd;
}    
.nc-dropdown-form span {
    white-space: nowrap;
}
span.info {
    color: #777777;
}
.nc-dropdown-form input {
    width: 60px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
}

.nc-center {
    text-align: center;
}

/* --------------------------------------------------------------------------
 * Boxes with tips/help messages
 * -------------------------------------------------------------------------- */

.nc-tips {
    margin: 0em; 
    padding: 1.5em;
    color: #222;
    background-color: #f5f5f5;
    line-height: 1.5;
}

.nc-tips b {
    color: #000;
}


/* ------------------------------------------------------------------------------------
 * Content pages (nodes, links)
 * ------------------------------------------------------------------------------------ */


.nc-object-type {    
    color: #ffffff;
    background-color: #777777;
    padding: 4px 10px;  
    margin-right: 8px;
    border-radius: 2px;
    display: inline-block;
}
#nc-object-content, #nc-network-content {
    margin-bottom: 2em;
}
#nc-object-toolbar .btn-primary {
    color: #ffffff;
    background-color: #777777;
    border-color: #707070;
}
#nc-object-toolbar button.disabled {
    opacity: 1;
}
#nc-object-toolbar {
    margin-bottom: 1em;
}
#nc-object-toolbar input {
    width: 140px;
    text-align: left;
}
#nc-object-toolbar .nc-dropdown-form {
    min-width:400px;
}
#nc-object-toolbar label {
    margin-right: 12px;
}

/* ------------------------------------------------------------------------------------
 * Tables 
 * ------------------------------------------------------------------------------------ */

table {
    width: 100%;
}


/* ------------------------------------------------------------------------------------
 * Curation/editing
 * ------------------------------------------------------------------------------------ */

/*
 * The curator style hides objects until they are turned visible via js
*/
.nc-curator {
    display: none;
}

/**
 * features accessible only to curators
*/
.nc-curator > a {
    color: #d43f3a !important;
}
.nc-curation-content {
    min-height: 20px;
}
.nc-curation-box a.btn {
    margin-right: 6px;
}
.nc-curation-box textarea {
    margin-bottom: 6px;
}
a.nc-comment-response {
    color: #777;
    cursor: pointer;
    font-size: 0.9em;
}
.media {
    padding-top: 8px;
    padding-bottom: 8px;    
}
img.nc-comment-primary {
    height: 40px;
    width: 40px;
}
img.nc-comment-response {
    height: 30px;
    width: 30px;
}


/* ------------------------------------------------------------------------------------
 * Sandboxes
 * ------------------------------------------------------------------------------------ */

/**
 * A label that appears nearby the markdown sandbox boxes
*/
.nc-aside {
    opacity: 0.6;
}

div.nc-thumbnail {
    cursor: pointer;
    padding: 12px;
}
div.nc-thumbnail:hover { 
    background-color: #f6f6f6;
}
.nc-thumbnail a {
    color: inherit;
}
.nc-thumbnail a:hover {
    text-decoration: none;
}
.nc-thumbnail p, .nc-thumbnail h5 {
    margin-top: 1px;
    margin-bottom: 1px;
}

#nc-sandbox-preview {
    min-height: 128px; 
    padding: 8px;
}

.nc-parameters {
    padding-top: 10px;
    padding-bottom: 10px;
}

#nc-sandbox-required .col-sm-1, #nc-sandbox-optional .col-sm-1 {
    padding-right: 4px;
}


/* ------------------------------------------------------------------------------------
 * Makealive plugins
 * ------------------------------------------------------------------------------------ */

div.makealive {    
    height: auto;   
    overflow: visible;            
}

/* ------------------------------------------------------------------------------------
 * History
 * ------------------------------------------------------------------------------------ */

.nc-timeline-entry {
    background-color: #fafafa;
    padding: 10px 14px;    
    cursor: pointer;
}
.nc-timeline-entry:hover {
    background-color: #f2f2f2;
}
.nc-timeline-entry span {
    color: #444;
    padding-right: 6px;
}
.nc-timeline-active {
    background-color: #faf2f2;
}


